:root {
    --rarity-common: #806AFB;
    --rarity-uncommon: #98DBE5;
    --rarity-rare: #59BCFF;
    --rarity-legendary: #FFC36B;
    --rarity-mythical: #FF96FF;
    --rarity-godlike: #51FFA8;
    --theme-hot-pink: #FA34F3;

    /* default values: these change depending on dark mode settings.
    If you change these colors also change them in darkModeStyles.tsx
    I put those here for the rare case that styled-components module is not supported */
    --background-color: white;
    --text-color: black;
    --whiteSmoke-alternative: whitesmoke;
    --list-color: inherit;
    --td-background-color-even: whitesmoke;
    --td-color-even: inherit;
    --td-background-color-uneven: whitesmoke;
    --td-color-uneven: inherit;
    --additional-info: inherit;
    --navbar-background-color: inherit;
    --sidebar-background: #FA34F3;
    --blogbody-h3: darkslategray;
}

.common {
  color: var(--rarity-common);
}
.uncommon {
  color: var(--rarity-uncommon);
}
.rare {
  color: var(--rarity-rare);
}
.legendary {
  color: var(--rarity-legendary);
}
.mythical {
  color: var(--rarity-mythical);
}
.godlike {
  color: var(--rarity-godlike);
}

img.common {
    border: 4px solid var(--rarity-common);
}
img.uncommon {
  border: 4px solid var(--rarity-uncommon);
}
img.rare {
  border: 4px solid var(--rarity-rare);
}
img.legendary {
  border: 4px solid var(--rarity-legendary);
}
img.mythical {
  border: 4px solid var(--rarity-mythical);
}
img.godlike {
  border: 4px solid var(--rarity-godlike);
}

body {
   background-color: var(--background-color);
}

a {
    color: var(--theme-hot-pink)
}

p, h1, h2, h3, h4 {
    color:  var(--text-color);
}

div {
    color: var(--additional-info)
}

.button-default {
    background: var(--theme-hot-pink);
    color: var(--background-color);
    padding: 18px 9px 18px 9px;
    text-transform: uppercase;
    font-size: 12px;
    border: solid 3px yellow;
    border-style: dashed;
}

.button-default:hover {
    color: var(--theme-hot-pink);
    background: white;
    border: solid 3px var(--theme-hot-pink);
    border-style: dashed;
}

a:hover {
    text-decoration: none;
    color: purple;
}

.blogBody h1 {
    line-height: 60px;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: normal;
}

.blogBody h2 {
    padding-top: 40px;
    font-size: 21px;
    font-weight: bold;
}

.blogBody h3 {
    padding-top: 25px;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: var(--blogbody-h3);
}

.blogBody h4 {
    padding-top: 20px;
    font-size: 14px;
    font-weight: bold;
}

.blogBody {
    padding:20px;
}

.headerIcon {
    width:50px;
    height: 50px;
    margin-right: 15px;
}

.headerImage {
    width:100%;
    height:100%;
}

.headerImageContainer {
    width:350px;
    height:auto;
    float:right;
    border-radius:10px;
    padding:15px;
    padding-bottom: 0;
    margin-left:20px;
    border: solid 5px whitesmoke;

}

.headerImageText {
    margin-top: 10px;
    text-align:center;
}

.contentsBox {
    width: fit-content;
    padding:15px;
    background: var(--whiteSmoke-alternative);
    border: solid 1px darkgray;
}

.leftImage {
    width:100%;
    height:100%;
}

.leftFlexContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  display: inline-block;
}

.leftImageContainer {
    width:250px;
    height:auto;
    /*float:left;*/
    border-radius:10px;
    padding:15px;
    padding-bottom: 0px;
    margin-right:20px;
    border: solid 5px whitesmoke;
    margin-bottom: 20px;
    margin-top: 60px;

}

.leftImageText {
    margin-top: 10px;
    text-align:center;
}

.centerImage {
    width:500px;
    height:auto;
}

.centerImageContainer {
    width:520px;
    height:auto;
	display: block;
	margin-left: auto;
	margin-right: auto;  
    border-radius:10px;
    padding:15px;
    padding-bottom: 15px;
    border: solid 5px whitesmoke;
    margin-bottom: 20px;
    margin-top: 60px;

}

.centerImageText {
    margin-top: 10px;
    text-align:center;
}

.atoken {
    margin-top: 10px;
    margin-bottom: 10px;
    width:50px;
    height: 50px;
}

.backToTop {
    position: fixed;
	border: solid 1px;
	background-color: #FA34F3;
    color: white;
    width: 44px;
    height: 44px;
	border-radius: 100%;
	right: 20px;
    bottom: 20px;
    z-index: 9;
}

.latestCommit {
    color: var(--additional-info);
    margin-top:-30px;
    margin-bottom:15px;
    font-style:oblique;
    font-size:12px;
}


.flexRow {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.wearableSmall {
    width:128px;
    height: 128px;
    margin-right: 10px;
    
    margin-bottom: 15px;
}

.wearableTrait {
    font-size: 12px;
    margin-bottom: 8px;
}

.tableHeader {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

hr {
	background: linear-gradient(to bottom right, #FA34F3, #8F17F9);
	height: 5px;
}

SVG {
    display: block;
    max-height: 100%;
}

table {
    width: 100%;
    border-top: solid 3px whitesmoke;
    border-bottom: solid 3px whitesmoke;
    margin-bottom: 15px;
}

thead > th {
    font-size: 18px;
    padding-top: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
    background: black;
    color: white;
}

tr:nth-child(even) {
   background: var(--td-background-color-even);
    color: var( --td-color-even);
}

tr:nth-child(odd) {
    background: var(--td-background-color-uneven);
    color: var( --td-color-uneven);
}
  

table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

table > caption {
    caption-side: top;
    text-align: center;
}

td > img {
    width: 75px;
    height: 75px;
}

ul > li {
    color: var(--list-color);
}

ol  {
    padding-left: 15px;
    list-style: none;
    counter-reset: list-counter;
}

ol > li {
    color: var(--list-color);
    display: flex;
    flex-direction: row;
    counter-increment: list-counter;
    margin-bottom: 10px;
}

ol > li::before {
    display: flex;
    flex-direction: row;
    content: counter(list-counter);
    margin-right: 15px;
    width: 1rem;
    justify-content:center;
}

ol > p {
    margin-left: 4em;
     font-size:13px;
}

.bodyImage {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60%;
    max-width: 500px;
    object-fit: contain;
}

 

  @media screen and (max-width:768px) {

    .headerImageContainer {
        width: 100%;
        margin-bottom: 20px;
    }

    .blogBody > h1 {
        font-size: 32px;
    }

    .bodyImage {
        width: 100%;
        max-width: unset;
    }

    thead { font-size: 18px;}
    thead > th {
        font-size: 13px;
    }

    td {
        font-size: 13px;
    }

    table, th, td {
        padding: 0;
    }

    td > img {
        width: 75px;
        height: 75px;
    }

  }

  @media screen and (max-width:571px) {
    thead > tr { font-size: 14px;}
   
  td {
      font-size: 10px;

  }

  td > img {
      width: 50px;
      height: 50px;
  }
  }