:root {
--rarity-common: #806AFB;
--rarity-uncommon: #98DBE5;
--rarity-rare: #59BCFF;
--rarity-legendary: #FFC36B;
--rarity-mythical:#FF96FF;
--rarity-godlike:#51FFA8;
}

.common {
    color: var(--rarity-common);
}
.uncommon {
  color: var(--rarity-uncommon);
}
.rare {
  color: var(--rarity-rare);
}
.legendary {
  color: var(--rarity-legendary);
}
.mythical {
  color: var(--rarity-mythical);
}
.godlike {
  color: var(--rarity-godlike);
}


body {
   background-color: white;
}

a {
    color: #FA34F3;
}

a:hover {
    text-decoration: none;
    color: purple;
}

.blogBody h1 {
    line-height: 60px;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: normal;
}

.blogBody h2 {
    margin-top: 50px;
    font-size: 21px;
    font-weight: bold;
}

.blogBody h3 {
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
}
.blogBody {
    padding:20px;
}

.rightImage {
    width:100%;
    height:100%;
}

.rightImageContainer {
    width:350px;
    height:auto;
    float:right;
    border-radius:10px;
    padding:15px;
    padding-bottom: 0;
    margin-left:20px;
    border: solid 5px whitesmoke;

}

.rightImageText {
    margin-top: 10px;
    text-align:center;
}

.leftImage {
    width:100%;
    height:100%;
}

.leftFlexContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  display: inline-block;
}

.leftImageContainer {
    width:250px;
    height:auto;
    /*float:left;*/
    border-radius:10px;
    padding:15px;
    padding-bottom: 0px;
    margin-right:20px;
    border: solid 5px whitesmoke;
    margin-bottom: 20px;
    margin-top: 60px;

}

.leftImageText {
    margin-top: 10px;
    text-align:center;
}

.atoken {
    margin-top: 10px;
    margin-bottom: 10px;
    width:50px;
    height: 50px;
}

.latestCommit {
    margin-top:-30px;
    margin-bottom:30px;
    font-style:oblique;
    font-size:12px;
  }


  .flexRow {
      display:flex;
      flex-direction: row;
      align-items: center;
  }

  .wearableSmall {
      width:128px;
      height: 128px;
      margin-right: 10px;
  }
