:root {
--rarity-common: #806AFB;
--rarity-uncommon: #98DBE5;
--rarity-rare: #59BCFF;
--rarity-legendary: #FFC36B;
--rarity-mythical:#FF96FF;
--rarity-godlike:#51FFA8;
--theme-hot-pink: #FA34F3;
}

.common {
    color: var(--rarity-common);
}
.uncommon {
  color: var(--rarity-uncommon);
}
.rare {
  color: var(--rarity-rare);
}
.legendary {
  color: var(--rarity-legendary);
}
.mythical {
  color: var(--rarity-mythical);
}
.godlike {
  color: var(--rarity-godlike);
}


body {
   background-color: white;
}

a {
    color: var(--theme-hot-pink)
}

.button-default {
    background: var(--theme-hot-pink);
    color: white;
    padding: 18px 9px 18px 9px;
    text-transform: uppercase;
    font-size: 12px;
    border: solid 3px yellow;
    border-style: dashed;
}

.button-default:hover {
    color: var(--theme-hot-pink);
    background: white;
    border: solid 3px var(--theme-hot-pink);
    border-style: dashed;
}

a:hover {
    text-decoration: none;
    color: purple;
}

.blogBody h1 {
    line-height: 60px;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: normal;
}

.blogBody h2 {
    padding-top: 40px;
    font-size: 21px;
    font-weight: bold;
}

.blogBody h3 {
    padding-top: 25px;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: darkslategray;
}

.blogBody h4 {
    padding-top: 20px;
    font-size: 14px;
    font-weight: bold;
}

.blogBody {
    padding:20px;
}

.headerIcon {
    width:50px;
    height: 50px;
    margin-right: 15px;
}

.headerImage {
    width:100%;
    height:100%;
}

.headerImageContainer {
    width:350px;
    height:auto;
    float:right;
    border-radius:10px;
    padding:15px;
    padding-bottom: 0;
    margin-left:20px;
    border: solid 5px whitesmoke;

}

.headerImageText {
    margin-top: 10px;
    text-align:center;
}

.contentsBox {
    width: fit-content;
    padding:15px;
    background: whitesmoke;
    border: solid 1px darkgray;
}

.leftImage {
    width:100%;
    height:100%;
}

.leftFlexContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  display: inline-block;
}

.leftImageContainer {
    width:250px;
    height:auto;
    /*float:left;*/
    border-radius:10px;
    padding:15px;
    padding-bottom: 0px;
    margin-right:20px;
    border: solid 5px whitesmoke;
    margin-bottom: 20px;
    margin-top: 60px;

}

.leftImageText {
    margin-top: 10px;
    text-align:center;
}

.atoken {
    margin-top: 10px;
    margin-bottom: 10px;
    width:50px;
    height: 50px;
}

.latestCommit {
    margin-top:-30px;
    margin-bottom:15px;
    font-style:oblique;
    font-size:12px;
}


.flexRow {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.wearableSmall {
    width:128px;
    height: 128px;
    margin-right: 10px;
    
    margin-bottom: 15px;
}

.wearableTrait {
    font-size: 12px;
    margin-bottom: 8px;
}

.tableHeader {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-top: solid 3px whitesmoke;
    border-bottom: solid 3px whitesmoke;
    margin-bottom: 15px;
}

thead > th {
    font-size: 18px;
    padding-top: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
    background: black;
    color: white;
}

tr:nth-child(even) {
   background:whitesmoke;
}
  

table, th, td {
    border: 1px solid black;
    text-align: center;
}

table > caption {
    caption-side: top;
    text-align: center;
}

td > img {
    width: 75px;
    height: 75px;
}

ol  {
    padding-left: 15px;
    list-style: none;
    counter-reset: list-counter;
}

ol > li {
    display: flex;
    flex-direction: row;
    counter-increment: list-counter;
    margin-bottom: 10px;
}

ol > li::before {
    display: flex;
    flex-direction: row;
    content: counter(list-counter);
    margin-right: 15px;
    width: 1rem;
    justify-content:center;
}

ol > p {
    margin-left: 4em;
     font-size:13px;
}
 

  @media screen and (max-width:768px) {

    .headerImageContainer {
        width: 100%;
        margin-bottom: 20px;
    }

    .blogBody > h1 {
        font-size: 32px;
    }

    thead { font-size: 18px;}
    thead > th {
        font-size: 13px;
    }

    td {
        font-size: 13px;
      
    }

    td > img {
        width: 75px;
        height: 75px;
    }

  }

  @media screen and (max-width:571px) {
    thead > tr { font-size: 14px;}
   
  td {
      font-size: 10px;
     
  }

  td > img {
      width: 50px;
      height: 50px;
  }
  }